.accordion {
    border-top: 1px solid #ccc;
    margin-top: 1rem;
}

.item {
    margin: 0 0 0.5rem;
    padding: 0.5rem 1rem;

}

.itemBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    font-size: 1rem;
    text-align: left;
    background-color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}


.itemContent {
    transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemPanel {
    padding: 1rem 0;
}

.chevron {
    margin-left: auto;
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemBtnExpanded .chevron {
    transform: rotate(180deg);
}


@media only screen and (min-width: 768px) {
    .itemBtn {
        font-size: 1.25rem;
    }
}